<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rachel.createatask">

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Create-A-Task"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:uiOptions="splitActionBarWhenNarrow"
        android:authorities="com.example.rachel.createatask">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">
            </meta-data>
        </provider>

        <activity android:name=".Login"
            android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SearchableActivity"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <activity
            android:name=".HomeMenu"
            android:uiOptions="splitActionBarWhenNarrow">
        </activity>

        <activity
            android:name=".CreateTask"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity
            android:name=".MainActivity">
        </activity>

        <activity
            android:name=".Register">
        </activity>

        <activity
            android:name=".Dashboard"
            android:uiOptions="splitActionBarWhenNarrow">
        </activity>

        <activity
            android:name=".SearchLibrary">
        </activity>

        <activity
            android:name=".EditTask"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity android:name="com.example.rachel.createatask.AndroidDatabaseManager"/>
        <!--android:theme="@style/Theme.AppCompat.Light"/>-->

        <activity
            android:name=".RecordAudio">
        </activity>

    </application>

</manifest>